name: Build and deploy to DockerHub - Tagged version

on:
   push:
     tags:
       - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config:
        - { image_name: ubuntu1604-build, dockerfile: vowpal_wabbit/ubuntu1604-build.Dockerfile }
        - { image_name: ubuntu1404-build, dockerfile: vowpal_wabbit/ubuntu1404-build.Dockerfile }
        - { image_name: centos7_6_1810-build, dockerfile: vowpal_wabbit/centos7_6_1810-build.Dockerfile }
        - { image_name: rl-ubuntu-1604, dockerfile: reinforcement_learning/ubuntu1604-build.Dockerfile}
        - { image_name: all-dev-ubuntu1604, dockerfile: development/ubuntu1604-dev.Dockerfile }
    steps:
      - uses: actions/checkout@master
      - name: Extract version out of ref
        if: success()
        id: vars
        run: echo ::set-output name=tag::$(echo ${GITHUB_REF:10})
      - name: Login, build and push image
        if: success()
        uses: whoan/docker-build-with-cache-action@v3
        with:
          username: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_PASSWORD }}"
          image_name: "vowpal_wabbit/${{ matrix.config.image_name }}"
          image_tag: "${{ steps.vars.outputs.tag }}"
          dockerfile: "${{ matrix.config.dockerfile }}"
          push_image_and_stages: true
